# PostgreSQL
POSTGRES_PASSWORD=
PGDATA=/var/lib/postgresql/data/pgdata

# MySQL
MYSQL_DATABASE=phalcondb
MYSQL_USER=phalcon
MYSQL_PASSWORD=secret
MYSQL_ALLOW_EMPTY_PASSWORD='yes'

# Application
WEB_DOCUMENT_ROOT=/project/public
WEB_ALIAS_DOMAIN=phalcon.local
WEB_PHP_SOCKET=127.0.0.1:9001
# production | development | staging | testing
APPLICATION_ENV=development

# Debug
# Note: For debugging purposes you have to setup Xdebug by passing required parameters
XDEBUG_CONFIG=remote_host=172.18.0.1 remote_connect_back=Off remote_port=9000

# SSH
CONTAINER=phalcon.compose.php
AUTH_MECHANISM=noAuth
